<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Just MEME</title>
</head>

<body>

      <%- include ('./partials/header2.ejs') %>

      <br><br><br><br>

      <div class="container">
            <% if (posts.length >= 1) { %>
            <% posts.forEach(post => { %>
            <div class="row">
                  <br>
                  <div class="ui card centered mb-5 raised stacked" style="width: 570px;">
                        <div class="content">
                              <a href="/user/<%= post.user_id.name %>" class="profile-user">
                                    <img class="ui avatar big image mr-2 border border-white"
                                          src="/uploads/user_picture/<%= post.user_id.user_picture %>"
                                          alt="profile-photo">
                                    <% if (post.user_id.verified === true) { %>
                                    <%= post.user_id.name %> <img src="/img/verified.png" class="ml-1 mb-1"
                                          style="width: 18px;">
                                    <% } else { %>
                                    <%= post.user_id.name %>
                                    <% } %>

                              </a>
                        </div>
                        <div class="image">
                              <img src="/uploads/img_post/<%= post.picture %>" class="img-fluid">
                        </div>
                        <div class="description content mb-1">
                              <div class="description text-body" style="white-space: pre-line;">
                                    <span class="name mr-2 font-weight-bold badge badge-light text-wrap"
                                          rounded><%= post.user_id.name %></span><%= post.description %>
                              </div>
                        </div>
                        <div class=" extra content">
                              <span class="right floated text-monospace">
                                    <mark class="rounded"><%= fullDate(post.fullDate) %></mark>
                              </span>
                        </div>
                  </div>
            </div>
            <% }); %>

            <% } else { %>
            <br><br>
            <div class="text-center">
                  <img src="/img/meme.png" alt="img">
                  <h1 class="mt-3">No Post Right Now</h1>
            </div>
            <% } %>
      </div>

      <br>
</body>

</html>