<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/fullNavbar.css">
   <link rel="stylesheet" href="/css/home.css">
   <title>Just MEME</title>
</head>

<body>

   <%- include ('./partials/fullNavbar.ejs') %>

   <div class="container space-top-2">
      <% if (posts.length >= 1) { %>
      <% posts.forEach(post => { %>
      <div class="card">
         <div class="head">
            <img src="/uploads/user_picture/<%= post.user_id.user_picture %>" alt="profile-picture">
            <a href="/user/<%= post.user_id.name %>"><%= post.user_id.name %></a>
         </div>

         <div class="image">
            <img src="/uploads/img_post/<%= post.picture %>" alt="image-post">
         </div>

         <div class="description">
            <%= post.description %>
         </div>

         <div class="footer">
            <%= relativeDate(post.createdAt) %>
         </div>
      </div>
      <% }); %>
      <% } else { %>
      <h1 class="no-post">No Post Right Now 😅</h1>
      <% } %>
   </div>

</body>

</html>