<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/full-navbar.css">
   <link rel="stylesheet" href="/css/profile.css">
   <title><%= data[0].name %></title>
</head>

<body>

   <%- include ('../partials/full-navbar') %>

   <div class="user-profile space-top">
      <% data.forEach(user => { %>
      <div class="profile-picture">
         <img src="/uploads/user-picture/<%= user.user_picture %>" alt="user-picture">
      </div>

      <div class="user-data">
         <p><%= user.name %></p>
         <p>Joined <span>: <%= formatDate(user.join) %></span></p>
         <p>Posts <span> : <%= new Intl.NumberFormat('id-ID').format(posts.length) %></span></p>
      </div>
      <% }); %>
   </div>

   <hr>

   <% if (posts.length >= 1) { %>
   <% posts.forEach(post => { %>
   <div class="user-post">
      <div class="image-post">
         <img src="/uploads/img-post/<%= post.picture %>" alt="image-post">
      </div>

      <div class="description-post">
         <div class="date">
            <%= formatDate(post.date) %>
         </div>

         <div class="description">
            <%= post.description %>
         </div>
      </div>
   </div>
   <% }); %>
   <% } %>

</body>

</html>