<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/profile.css">
   <title><%= name %></title>
</head>

<body>

   <%- include ('../partials/header2.ejs') %>

   <div class="user-profile space-top">
      <div class="profile-picture">
         <img src="/uploads/user_picture/<%= img %>" alt="user-picture">
      </div>

      <div class="user-data">
         <p><%= name %></p>
         <p>Joined <span>: <%= join %></span></p>
         <p>Posts <span> : <%= posts.length %></span></p>
         <p><a href="/user/edit">edit profile</a></p>
         <p><a href="/post">make a post</a></p>
      </div>
   </div>

   <hr>

   <% if (posts.length >= 1) { %>
   <% posts.forEach(post => { %>
   <div class="user-post">
      <div class="image-post">
         <img src="/uploads/img_post/<%= post.picture %>" alt="image-post">
      </div>

      <div class="description-post">
         <div class="date">
            <%= formatDate(post.createdAt) %>
         </div>

         <div class="description">
            <%= post.description %>
         </div>
      </div>
   </div>
   <% }); %>
   <% } %>


</body>

</html>